@import url(./style.css);

.input-do-personagem {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 250px;
}

.input-nivel-do-personagem {
    width: 30px;
    border-left: none;
    border-top: none;
    border-right: none;
}

.atributo_input {
    width: 20px;
    font-size: 18px;
}

#atributo_input {
    width: 18px;
    font-size: 20px;
}

#input-manual {
    display: none;
}

.escolha-tipo-atributo {
    text-align: center;
    margin: 0.5em;
}

.select-atributo {
    margin-top: 0.25em;
    padding: 8px;
    border: 2px;
}

.controle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controle-ajuste {
    border: none;
    font-size: 2em;
    padding: 8px;
}

.controle-contador {
    width: 18px;
    font-size: 2em;
    text-align: center;
    margin: 8px 0;
}

.atributos-comprados {
    grid-template-rows: 1fr 1fr;
    row-gap: 4px;
    justify-items: center;
}

.atributo-comprado {
    width: 48px;
}

.pontos-compra {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.pontos-compra__titulo {
    text-align: center;
}

.pontos__valor {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    align-items: center;
    border: 1px solid var(--cor-bordas);
    padding: 8px;
    margin-top: 4px;
}
