header {
    width: 100vw;
}

.menu__botao {
    display: none;
}

.cabecalho {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.menu {
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 3em;
    height: 3em;
    border-bottom: 2px solid black;
    border-radius: 10px;
    display: inline-block;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    border: 1px solid var(--cor-bordas);
    border-bottom: 2px solid;
    border-radius: 5px;
}

.menu__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    background-color: var(--cor-de-fundo);
    padding: 1em;
    font-size: 1.25em;
    border-bottom: 1px solid var(--cor-bordas);
}

.lista-menu__titulo {
    font-weight: 700;
}

.titulo__cabecalho {
    font-size: 2em;
    font-weight: 700;
    text-align: left;
    padding-top: 12px;
    border-bottom: 2px solid black;
    border-radius: 10px;
    margin-left: 0.5em;
}