strong {
    font-size: 24px;
}

.titulo {
    text-align: center;
    font-size: 24px;
}

.container {
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.char-info-cont {
    max-width: 320px;
}

.char-info {
    margin: 8px 0;
    padding-left: 4px;
    display: inline-block;
    grid-template-columns: 1fr;
    max-width: min-content;
}

.char-info_element {
    display: inline-block;
    padding: 4px;
    font-size: 16px;
}

.char-info_element input {
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-nome-do-personagem {
    width: 100%;
}

.input-nivel-do-personagem {
    width: 30px;
}

.nivel-do-personagem {
    display: flex;
    gap: 8px;
}

.stats{
    max-width: 320px;
}
.atributos {
    margin: 8px;
    display: grid;
    grid-auto-flow: column;
}

.atributo {
    margin-left: 4px;
    display: inline-block;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    width: 24px;
    text-align: center;
}

.pontos {
    display: flexbox ;
    border: 1px solid black;
    margin: 0 8px 4px;
    border-radius: 10px;
}

.pontos_num {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.pontos_titulo {
  text-align: center;
}

.medidor-pontos {
    display: inline;
    text-align: center;
    grid-area: 2;
    margin: 4px;
    padding: 4px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.defesa {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: flex-end;
    max-width: 320px;
}

.def_stats {
    font-size: 12px;
    display: inline;
    text-align: center;
    grid-area: 2;
    margin: 4px;
}

.def-plus::before {
    content: "+";
}

#outros_def {
    width: 24px;
    height: 24px;
}

.pericias-cont {
    max-width: 320px;
}

.pericias {
    border: 1px solid black;
    margin: 4px;
    border-radius: 5px;
    max-width: 320px;
}

.pericias_lista {
    display: grid;
    row-gap: 4px;
    max-width: 320px;
}

.pericias_lista ln {
    border-bottom: 1px solid gray;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr 0.25fr;
}

.ataques {
    margin-bottom: 8px;
}

.ataques-cont {
    max-width: 640px;
}

.cabecalho-atq {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr;
    margin: 4px 8px;

}

#ataques_lista {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 4px;
}

.atq {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 0.25fr 0.25fr 0.25fr;
    font-size: 18px;
    margin: 4px 8px;
    border-bottom: 1px solid gray;
}

#detalhes-atq {
    margin-left: 8px;
}

#ataques_novo-ataque {
    margin-left: 8px;
}

.magias {
    margin-bottom: 8px;
}

.magias-cont {
    max-width: 640px;
}

.cabecalho-mag {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr 0.25fr 0.25fr;
    margin: 4px 8px;

}

#magias_lista {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 4px;
}

.mag {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr 0.25fr 0.25fr;
    font-size: 18px;
    margin: 4px 8px;
    border-bottom: 1px solid gray;
}

#detalhes-mag {
    margin-left: 8px;
}

#magias_nova-magia {
    margin-left: 8px;
}
.habilidades {
    margin-bottom: 8px;
}

.habilidades-cont {
    max-width: 640px;
}

.cabecalho-hab {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    margin: 4px 8px;

}

#habilidades_lista {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 4px;
}

.hab {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    font-size: 18px;
    margin: 4px 8px;
    border-bottom: 1px solid gray;
}

#detalhes-hab {
    margin-left: 8px;
}

.proeficiencias-cont {
    max-width: 640px;
    padding: 8px;
}

.proeficiencias {
    margin-top: 4px;
    padding: 4px;
    border: 1px solid black;
}

.equipamento-cont {
    max-width: 320px;
}

.cabecalho-equip {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr 0.25fr;
    margin: 4px 8px;
}

.equip {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0.25fr 1fr 0.25fr 0.25fr;
    margin: 4px 8px;
    border-bottom: 1px solid gray;
}

#equip_novo-equip {
    margin-left: 8px;
}
